 /* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body umumiy style */
body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #222;
  place-items: center;
}
.container{
  min-width: 1440px;
  width: 100%;
  
}